:host {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  display: block;
}

.btn-box {
  display: grid;
  margin-top: 5px;
}

.btn {
  background-color: transparent;
  color: white;
  font-weight: bold;
  padding: 10px 20px;
  text-align: center;
  letter-spacing: 1px;
  border-style: solids;
  text-decoration: none;
}

.btn:hover {
  background-color: white;
  color: #131b2e;
  transition: all 0.3s ease-in-out;
  border-color: #131b2e;
}