:host {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  display: block;
}

.container-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.container-split {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.container-flex{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.container-center {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.container-space-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
